{{extend './layout/layout.html'}}

{{block 'head'}}
<link rel="stylesheet" type="text/css" href="/public/css/news/news.css">
{{/block}}

{{block 'body'}}
  <div class="news-main">
    <!-- 视频 热点-->
    <div class="news-top">
      <div class="news-top-l">
        <video src=""></video>
      </div>
      <div class="news-top-r">
        <h2>风云榜</h2>
        <div>
          <div>1、小幸福结婚吧！</div>
          <div>2、大欢乐小说吧！</div>
        </div>
      </div>
    </div>
    <!-- tab -->
    <div class="news-tab-main">
      <div class="news-tab">
        <span>公司</span>
        <span>番外</span>
      </div>
      <div class="news-model">
        <div>
          <div>
            <img src="" alt="">
            <div></div>
          </div>
        </div>
        <div>
          <div>
            <img src="" alt="">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/block}}