{{extend './layout/layout.html'}}

{{block 'head'}}
<link rel="stylesheet" type="text/css" href="/public/css/news/news.css">
{{/block}}

{{block 'body'}}
  <div class="news-main">
    <!-- 视频 热点-->
    <div class="news-top">
      <div class="news-top-l">
        <video controls>
          <source src="/public/video/video.mp4" type="video/mp4"></source>
        </video>
      </div>
      <div class="news-top-r">
        <h2>风云榜</h2>
        <div>
          <div>1、小幸福结婚吧！</div>
          <div>2、大欢乐小说吧！</div>
          <div>3、每一个人，都将可能成为一名伟大的领袖！</div>
        </div>
      </div>
    </div>
    <!-- tab -->
    <div class="news-tab-main">
      <div id="newsTab" class="news-tab">
        <span class="active">公司</span>
        <span>番外</span>
      </div>
      <div id="newsTabInfo" class="news-model">
        <div class="news-m-bot active">
          <div>
            <img src="/public/imgs/s1.png">
            <div>
              <h2>全球领先技术</h2>
            </div>
          </div>
          <div>
            <img src="/public/imgs/s1.png">
            <div>
              <h2>全球领先技术</h2>
            </div>
          </div>
        </div>
        <div class="news-m-bot">
          <div>
            <img src="/public/imgs/s2.png">
            <div>
              <h2>全球领先服务</h2>
            </div>
          </div>
          <div>
            <img src="/public/imgs/s2.png">
            <div>
              <h2>全球领先服务</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // 切换tab
    $('#newsTab span').click(function(){
      $(this).addClass('active').siblings().removeClass('active');
      changeTab($(this).index());
    })
    function changeTab(index){
      // console.log(index)
      $('#newsTabInfo >div').eq(index).addClass('active').siblings().removeClass('active');
    }
  </script>
{{/block}}